body {
    background-color: #dab78f;
}

.main-header {
    text-align: center;
}

.sub-header {
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.miracle-card {
    margin-left: 25px;
    margin-bottom: 25px;
    width: 75%;
    height: 300px;
    background-color: rgba(251, 251, 251, 0.66);
    font-family: Georgia, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.miracle-card:hover {
    background-color: rgba(225, 215, 204, 0.74);
}
